.header {
  padding: 30px 0;
  &__row {
    @include display-flex (space-between, center)
  }
}

.nav {
  padding-right: 100px;
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 60px;
  }
  &__link {
    color: $color-black;
    @include font(400, 12px, 0.2em, uppercase);
  }
}
